.container {
    display: flex;

    .form {
        flex: 2;
        display: flex;
        flex-direction: column;

        .input {
            background-color: var(--secondary-text-color);
            padding: 1rem;
            border: none;
            border-radius: 4px;
            margin-bottom: 1rem;
            color: var(--secondary-color);
            outline-color: var(--primary-color);

            &::placeholder {
                color: var(--primary-color);
            }
        }

        .textarea {
            height: 150px;
        }

        .button {
            background-color: var(--secondary-color);
            padding: 1rem;
            border: none;
            border-radius: 4px;
            margin: 1rem 0;
            color: var(--secondary-text-color);
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .icons {
        flex: 1;
        display: flex;
        justify-content: space-around;
        color: var(--secondary-text-color);

        * {
            cursor: pointer;
            font-size: 3rem;
        }

        *:hover {
            color: var(--accent-color);
        }
    }
}

@media screen and (max-width: 560px) {
    .container {
        flex-direction: column;

        .icons {
            * {
                font-size: 2rem;
            }
        }
    }

    
}