.projects__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    .project__card {
        width: 100%;
        aspect-ratio: 1;
        background-color: var(--secondary-color);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 200ms ease-out;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            transform: translateY(-8px);
        }

        .icons {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 8px;
        }

        .heading {
            color: var(--primary-text-color);
            font-size: 1.2rem;
            font-weight: 500;
            flex: 1.5;
        }

        .description {
            color: var(--secondary-text-color);
            flex: 4;
        }

        .tags {
            color: var(--accent-color);
            margin-right: 16px;
            font-size: 0.8rem;
            border: 1px solid var(--accent-color);
            border-radius: 4px;
            padding: 0.4rem;
        }
    }
}

.load__more {
    margin: 24px;
    color: var(--secondary-text-color);
    cursor: pointer;
    text-align: center;

    &:hover {
        color: var(--primary-text-color);
    }
}

@media screen and (max-width: 560px) {
    .projects__grid {
        grid-template-columns: 1fr;
    }
}